/* SVG Icon systems */
.cust_icon {
  display: inline-block;
  width: 24px;
  height: 24px;
  overflow: hidden;
  vertical-align: middle;
  fill: inherit;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}

svg {
    display: inline-block;
    width: 100%;
}

.icon_xs {
  width: 16px;
  height: 16px;
}

.icon_sm {
  width: 32px;
  height: 32px;
}

.icon_md {
  width: 24px;
  height: 24px;

  @include MQ(M) {
    width: 48px;
  height: 48px;
  }
}

.icon_lg {
  width: 64px;
  height: 64px;
}

.icon_xl {
    width: 64px;
    height: 64px;

    @include MQ(M) {
      width: 128px;
      height: 128px;
    }
}

.icon_fb {
  background-image: url(../img/icons/facebook.svg);
}

.icon_whatsapp {
  background-image: url(../img/icons/whatsapp.svg);
}

.icon_ig {
  background-image: url(../img/icons/instagram.svg);
}

.icon_tw {
  background-image: url(../img/icons/twitter.svg);
}

.icon_chevron_down {
  background-image: url(../img/icons/chevron-down.svg);
}

.icon_user {
  background-image: url(../img/icons/user_icon.svg);
}

.icon_lock {
  background-image: url(../img/icons/key_lock.svg);
}