.dropdown-menu {
    font-size: 1em;
    box-sizing: border-box;
    z-index: 1000;
    max-width: 460px;
    padding: 10px;
    margin: 0;
    border-radius: 5px;
    background-color: white;
    box-shadow: 0 0 0 1px rgba(black,0.1), 0 3px 10px 0 rgba(black,0.2);
    @include transition(all .6s ease-in-out);
    -webkit-animation: panel-slide-down .6s ease-in-out forwards;
    animation: panel-slide-down .6s ease-in-out forwards;
    overflow: hidden;
    border: none;

    &.subMenu {
        box-shadow: unset;
        border-radius: 0 0 5px 5px;

        @include MQ-MAX(M) {
            width: 100%;
            position: static;
            padding: 0;
        }
    }
    
    &.show {
        visibility: visible;
    }

    li {
        display: block;
        padding: 0;
        margin:0;

        > *, > a {
            padding: 10px 15px;
            display: flex;
            width: 100%;
            font-size: 14px;
            text-transform: capitalize;
            line-height: normal;
            align-items: center;
            white-space: nowrap;

            &:hover {
                background: $brand_inverse;
                color: $brand_primary;
            }
        }
    }
}

@keyframes panel-slide-down{
    0%,30% { 
        margin-top:-15px;
        opacity:0
    }
    to {
        margin-top:0;
        opacity:1
    }
}

.dropdown-toggle::after {
    display: none;
}

.tooltip .arrow::before {
    border-top-color: $brand_black !important;
}

.tooltip-inner {
    font-size: 12px;
    background-color: $brand_black;
    border-radius: 5px;
    padding: 6px 12px;
}

.modal-backdrop {
    background-color: black;
    display: none;
}

.modal-content {
    border-radius: 15px;
}

.modal-dialog {
    z-index: 2000;
    max-width: 520px;

    @include MQ-MAX(M) {
        margin-right: 15px;
        margin-left: 15px;
    }
}

.modal {
    z-index: 3000;

    .modal-open & {
        background-color: rgba(black, .95);
        padding: none !important;
    }

    .modal-header {
        border-bottom: none;
        padding: 20px 15px 0;
        justify-content: flex-start;

        @include MQ(M) {
            padding-left: 30px;
            padding-right: 30px;
        }
    }

    .modal-body {
        position: relative;
        padding: 30px 15px;

        @include MQ(M) {
            padding-left: 30px;
            padding-right: 30px;
        }
    }
    
    .modal-footer {
        border-top: none;
        padding: 0 15px 10px;
    }
}

.modal-title {
    font-size: 16px;
    font-weight: 700;
    font-family: $header_font;
    text-transform: uppercase;
}