// Forms widget nav
header[role="banner"] {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: $header_height;
    z-index: $header-zindex;
    @include font-smoothing;
    color: $color_text;
    box-shadow: 0 1px 4px rgba(black, .15);
    background-color: white;

    [class*="container"] {
        height: 100%;
        position: relative;
    }

    @include MQ(L) {
        height: $header_height_l;
    }
}

.preAuthHeader {
    @include transition(background-color .6s ease-in-out);
    /* Force Hardware Acceleration in WebKit */
    @include transform(translate3d(0, 0, 0));
    @include backface-visibility(hidden);    
}

.navbarWrapper {
    @include flexbox();    
    z-index: 1;
    width: 100%;
    height: 100%;
    justify-content: space-between;
}

.navbarGroupItem {
    width: auto;
    height: 100%;
    display: block;
    @include flexbox();
    align-items: center;
    position: relative;
}

.navBarItemLeft {
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    z-index: 5;
    float: left;
    flex-shrink: 0;
}

.navBarItemRight {
    float: right;
    justify-content: flex-end;
    z-index: 5;
    flex-shrink: 0;
}

.navBarItemCenter {
    flex-grow: 1;

    @include MQ-MAX(L) {
        width: 100%;
        position: absolute;
        left: 0;
    }

    @include MQ(L) {
        padding-left: 40px;
    }
}

.brand_img {
    display: block;
    
    header[role="banner"]  &{
        height: $header_height;
    }
}

.logo_link {
    padding: 0;
    display: inline-block;
    line-height: $header_height;
    width: 130px;
    position: relative;
    height: 100%;

    @include MQ(L) {
        width: 225px;
    }
        
    >img {
        vertical-align: middle;
        display: inline-block;
        height: 70%;
        width: auto;
        @include MQ(M){
            height: 100%;
            width: auto
        }

    }
   
}

.navMenu {
    @include flexbox();
    align-items: center;
    width: 100%;
}

.menuPrimary {
    @include transition(all .6s cubic-bezier(.68, .34, .15, 1));
    transform-origin: top;
    width: 100%;

    @include MQ-MAX(L) {
        left: 0;
        // max-width: 370px;
        position: fixed;
        background-color: $brand_black;
        color: $color_white;
        @include flexbox();
        height: 100%;
        height: 100vh;
        visibility: hidden;
        top: $header_height;
        flex-direction: column;
        @include transform(scaleY(0));
        padding: 20px 15px;
    }

    @include MQ(L) {
        justify-content: center;
    }
    
    .is-active & {
        @include transform(scaleY(1));
        visibility: visible;
        @include transition(transform .8s cubic-bezier(.68, .34, .15, 1));
    }    
}

.controlBtn {
    margin-left: 30px;
    position: relative;

    @include MQ-MAX(L) {
        margin-left: 15px;
    }

    > a, button {
        fill: $brand_black;

        &:hover, &:focus {
            fill: $brand_primary;
        }
    }
}

.menuListItem {
    position: relative;
    white-space: nowrap;

    @include MQ-MAX(L) {
        display: block;
        width: 100%;
    }
}

.menuLinkItem:not(.btn) {
    display: block;
    font-size: 14px;
    padding: 1em 1.25em;
    font-weight: 900;
    white-space: nowrap;
    background-color: transparent;
    @include transition(all .6s ease-in-out);
    // text-align: center;

    @include MQ(L) {
        padding-top: 0;
        padding-bottom: 0;
        color: black;

    }

    .active &,
    &:hover,
    &:focus {
        color: $brand_primary;
    }

    .subMenuContainer:hover > & {
        color: $brand_primary;
    }
}

.subLinkHolder {
    position: relative;
    display: inline-block;
    padding-right: 10px;
}

.dropdownMarker {
    display: inline-block;
    position: absolute;
    @include center(y);
    right: -6px;
    margin-top: 3px;
    transform-origin: center;

    &::after, &::before {
        content: "";
        background: $color_text;
        height: 1px;
        width: 7px;
        top: 50%;
        display: block;
        position: absolute;

        @include MQ-MAX(M) {
            background: $color_white;
        }
    }

    &::after {
        transform-origin: 0 100%;
        @include transform(rotate(-40deg) scaleY(1.5));
        left: 50%;
    }

    &::before {
        transform-origin: 100% 100%;
        @include transform(rotate(40deg) scaleY(1.5));
        right: 50%;
    }

    .subMenuContainer:hover & {
        transform: translateY(-6px);
        @include transition (transform .4s linear 0s);

        &::before {
            transform-origin: 100% 0;
            @include transform(rotate(-40deg) scaleY(1.5));
        }

        &::after {
            transform-origin: 0 0;
            @include transform(rotate(40deg) scaleY(1.5));
        }
    }
}

.subMenu {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    min-width: 280px;

    .subMenuContainer:hover > & {
        display: block;
    }
}

.subMenuItem {
    padding: 11px 0 12px;
}

.subMenuItem_link {
    display: block;
}

.nav_trigger {
    display: inline-block;
    margin-left: 20px;
    margin-top: 15px;
    
    @include MQ(L) {
        display: none;
    }
}

.primary-nav-trigger {
    position: relative;
}

.menu-icon {
    /* this span is the central line of the menu icon */
    display: block;
    width: 24px;
    height: 2px;
    position: relative;
    background-color: $brand_primary;
    @include transition(background-color .6s);
    /* these are the upper and lower lines in the menu icon */
    &::before,
    &:after {
        content: '';
        width: 100%;
        height: 100%;
        position: absolute;
        background-color: $brand_primary;
        right: 0;
        @include transition(transform .6s, top .6s, background-color 0s);
    }
    &::before {
        top: -7px;
    }
    &::after {
        top: 7px;
    }
    &.is-clicked {
        background-color: rgba($brand_accent, 0);
        &::before,
        &::after {
            background-color: rgba($brand_accent, 1);
        }
        &::before {
            top: 0;
            @include transform(rotate(135deg));
        }
        &::after {
            top: 0;
            @include transform(rotate(225deg));
        }
    }
}

.menu-text {
    font-size: 8px;
    text-transform: uppercase;
    color: $brand_primary;
}