a {
    text-decoration: none;
    @include transition(all .6s ease-in-out);
    color: inherit;
    
    &:hover,
    &:focus {
        color: $brand_accent;
        text-decoration: none;
    }
    
    &:focus {
        outline: thin dotted $brand_accent;
        .no-touch & {
            outline: none;
        }
    }
}

a:link,
button {
    -webkit-tap-highlight-color: rgba($brand_accent, .35);
    -moz-tap-highlight-color: rgba($brand_accent, .35);
}

button {
    outline: 0;
    padding: 0;
    border: none;
    box-shadow: none;
    width: auto;
    height: auto;
    color: inherit;
    background: 0 0;
    cursor: pointer;
    text-align: center;
    @include transition(all .6s ease-in-out);

    &:focus, &:visited {
        outline: none;
    }
}

.btn {
    border-radius: 5px;
    padding: 1em 2em;
    font-size: 13px;
    font-weight: 900;
    background-color: transparent;
    color: $color_white;
    fill: $color_white;
    text-transform: capitalize;
    border: none;
    cursor: pointer;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    position: relative;
    max-width: 100%;
    box-shadow: 0px 0px 0px transparent;
    @include transition(all .6s ease-in-out);
    text-decoration: none !important;
    will-change: background-color, color;
    
    + [class *="btn"], + [class *="Btn"] {
        margin-left: 1.5rem;
    }
    
    @include MQ-MAX(S) {
        .hero_area & {
            width: 100%;
        }
    }

    @include MQ(M) {
        min-width: 100px;
        font-size: 1em;
    }
    
    &:hover,
    &:focus {
        text-decoration: none !important;
        .no-touch & {
            outline: none;
        }
    }

    &[disabled], &.disabled {
        pointer-events:none;
        color: $color_white;
        background-color: $border_grey_dark;
    }
}

.btnIcon {
    flex-shrink: 0;
    margin: 0 10px;
}

.btnNav {
    color: $brand_primary;
    background-color: white;
    fill: $brand_primary;

    &:hover, &:focus {
        background-color: $brand_primary;
        color: $color_white;
        fill: $color_white;
    }
}

.btn-primary-outline {
    background-color: white;
    color: $brand_primary;
    border: 1px solid $brand_primary;

    &:hover, &:focus {
        color: $color_white;
        background-color: $brand_primary;
        border-color: $color_white;
        
    }
}

.btn-primary {
    background-color: $brand_primary;
    color: $color_white;
    fill: white;

    &:hover,
    &:focus {
        background-color: white;
        color: $brand_primary;
        border: 1px solid $brand_primary;
    }
}

.btn-secondary {
    background-color: $brand_black;
    color: $color_white;
    fill: $color_white;

    &:hover,
    &:focus {
        background-color: rgba($brand_primary, .8);
        color: $color_white;
    }
}

.btn-sm.btn,
.btn-group-sm>.btn {
    font-size: 13px;
}

.btn-lg.btn,
.btn-group-lg>.btn {
    font-size: 18px;
}

.btn-link {
    cursor: pointer;
    font-size: 1em;
    display: inline-block;
    text-decoration: underline;
    color: $brand_primary;
        
    &:hover,
    &:focus {
        color: $brand_accent;
        text-decoration: none;
    }
    
    &:active, &[disabled] {
        color: $border_grey_dark;
        outline: none;
    }
}

.dialogDismiss {
    position: absolute;
    right: 15px;
    top: 10px;
    display: flex;
    z-index: 1000;
}

.close_dialog {
    z-index: 5;
    width: 30px;
    height: 30px;
    font-size: 10px;
    text-align: center;
    border-radius: 50%;
    position: relative;
    border: 1px solid $border_grey;
    background-color: rgba($brand_black, .5);

    &::before,
    &::after {
        position: absolute;
        content: "";
        width: 2px;
        background: $border_grey_light;
        height: 14px;
        top: 50%;
        left: 50%;
        margin: -7px 0 0 -1px;
    }
    &::before {
        @include transform(rotate(-45deg));
    }
    &::after {
        @include transform(rotate(45deg));
    }
    &:hover,
    &:focus {
        background-color: $brand_black;
        &::before,
        &::after {
            background-color: $brand_accent;
        }
    }
}

.infoPaneNavList {
    justify-content: flex-end;
    margin-bottom: -2px;

    @include MQ(S) {
        margin-right: 50px;
    }
}

.infoPaneTabItem {
    text-align: center;

    + .infoPaneTabItem {
        margin-left: 20px;
    }

    @include MQ-MAX(S) {
        flex: 1;
    }

}

.infoPaneNavLink {
    display: block;
    padding: 15px 10px;
    font-weight: 900;
    color: $border_grey_dark;
    border: 1.5px solid $border_grey_dark;
    background-color: white;
    border-radius: 20px 20px 0 0;

    @include MQ(M) {
        min-width: 200px;
    }

    &.active, &:hover, &:focus {
        border-color: $brand_primary;
        color: $brand_primary;
    }

}