.mainContentArea {
    position: relative;
    width: 100%;
    // padding-top: $header_height;
    background-color: $color_grey_light;
    height: 100%;

    &.is_active {
        overflow: hidden
    }

    &::before {
        /* never visible - used to check MQ in jQuery */
        display: none;
        content: 'mobile';
    }
    @include MQ(M) {
        // padding-top: $header_height_l;
        &::before {
            /* never visible - used to check MQ in jQuery */
            content: 'tablet';
        }
    }
    @include MQ(L) {
        margin-top: 0;
        &::before {
            /* never visible - used to check MQ in jQuery */
            content: 'desktop';
        }
    }
}

%header_banner {
    background-size: cover;
    width: 100%;
    position: relative;
    background-position: center;
    background-repeat: no-repeat;
    z-index: 1;
    overflow: hidden;
    min-height: 320px;

    @include MQ(M) {
        min-height: 100%;
    }
}

.headerBanner{
    @extend %header_banner;
    background-color: $brand_primary;
    min-height: 300px;
    padding: 60px 0px;
    margin-top: 80px;
    &.inverse{
        background-color: rgba(43, 48, 147, 0.2);
        color: $brand_primary;
    }
    &::after{
        content: '';
        position: absolute;
        top: 4rem;
        right: 0rem;
        height: 15rem;
        width: 15rem;
        background-image: url('../img/icons/header_angle.svg');
        background-size: cover;
        z-index: -1;

    }
 
}
.contactUsBanner{
    @extend %header_banner;
    min-height: 300px;
    padding: 60px 0px;
    margin-top: 80px;
    background-image: url('../img/banners/pix/contact.png');


}

.section_block {
    padding: 50px 0;
    display: block;
    width: 100%;
    position: relative;
    z-index: 2;
    min-height: 600px;

    .layoutMain & {
        height: 100%;
        padding-left: 15px;
        padding-right: 15px;
    }

    @include MQ(M) {
        padding: 70px 0;
    }

    .container {
        z-index: 5;
    }

    p{
        font-size: 18px;
        line-height: 32px;
        margin: 1rem;
    }
}

.sectionDivider {
    display: block;
    clear: both;
    z-index: 2;

    .section_block & {
        padding-top: 30px;
        padding-bottom: 30px;
    }

}

.fillerImage {
    width: 100%;
    max-width: 512px;
    display: block;
    margin: auto;
}

.section_cto {
    margin-top: 40px;
    clear: both;
}

.section_header {
    position: relative;
    margin-bottom: 40px;
}

.title {
    line-height: 1.45;
    font-size: 1rem;
    letter-spacing: .65px;
    @include break-inside(avoid);

    @include MQ(M) {
        font-size: 1.35rem;
    }
}

.title_sm {
    font-size: 1.2rem;

    @include MQ(M) {
        font-size: 1.7rem;
    }
}

.title_md {
    font-size: 1.65rem;

    @include MQ(M) {
        font-size: 2.75rem;
    }
}

.title_lg {
    font-size: 2.4rem;

    @include MQ(M) {
        font-size: 3.2rem;
    }
}

.title_stroke{
    display: inline-block;
    margin: 5px 10px 5px 0px;
        height: 2px;
        width: 69px;
        background-color: red;
        
        // border-bottom:2px solid red;
   
}
.listItem{
    line-height: 2.2rem;
    font-size: 1rem;
    letter-spacing: .65px;
    @include break-inside(avoid);

    @include MQ(M) {
        font-size: 1rem;
    }
}

.infoBlobDetail {
    width: 100%;
    padding: 30px 0;

    @include MQ(S) {
        max-width: 235px;
        margin: auto;
    }
}

.infoBlobList {
    padding-left: 24px;
    > li {
        display: list-item;
        list-style: disc;
    }
}

.verticalSectionDivider {
    display: block;
    width: 2px;
    height: 130px;
    background-color: $brand_accent;
}

// footer
.footerArea {
    position: relative;
    padding: 50px 0 30px;
    background-color: $color_grey_light;
    color: rgba(black, .9);
    border: 1px solid #BDBDBD;

}

footer[role="contentinfo"] {
    width: 100%;
    clear: both;
}

.brandBlock {
    position: relative;
    text-align: center;

    @include MQ(M) {
        margin-bottom: 20px;
        padding-top: 15px;
        text-align: left;
        border-bottom: none;
    }
}

.brand_media {
    overflow: hidden;

    img {
        max-width: 140px;

        @include MQ(M) {
            max-width: 220px;
        }
    }
}

.footerBlock {
    @include flexbox();
    flex-direction: column;
    padding-top: 15px;
    padding-bottom: 15px;

    @include MQ-MAX(M) {
        text-align: center;

        .brandNav & {
            border-bottom: 1px solid rgba($border_grey_light, .3);
        }
    }
}

.blockHeaderLink {
    display: block;
    width: 100%;
    line-height: 32px;
    cursor: pointer;

    @include MQ(M) {
        pointer-events: none;
    }
}

.ft_block_segment + .ft_block_segment {
    margin-top: 25px;
}

.ft_block_header {
    display: block;
}

.item_title {
    font-size: 16px;
    font-style: italic;
}

.ft_nav_block > li {
    line-height: 2.5em;
}

.footerCrumbs {
    clear: both;
    padding-top: 10px;

    @include MQ(M) {
        padding-top: 50px;
    }
}

.footer_links {
    @include flexbox();
    justify-content: center;

    @include MQ(M) {
        text-align: right;
    }
}

.footerLinkItem {
    display: block;
    padding: 7.5px 15px;

    &:hover, &:focus {
        text-decoration: underline;
    }
}

.formPanel {
    background-color: white;
    border-radius: 20px;
    padding: 20px;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.15);

    @include MQ(M) {
        min-height: 400px;
        padding: 40px;
    }
}

.infoCardItem {
    padding-top: 20px;
    padding-bottom: 20px;
}

.infoCardWrapper {
    width: 100%;
    height: 100%;
    display: block;
    border-radius: 30px;
    background-color: white;
    box-shadow: 0 0 4px rgba(black, .15);
    padding: 30px 20px;
    @include transition(all .6s ease-in-out);
    position: relative;

    @include MQ(M) {
        padding: 40px;
    }
}

// Solutions Panel

.solutionInfoPaneItem {
    display: block;
    clear: both;
    padding-top: 30px;
    padding-bottom: 30px;
}

.infoPaneContent {
    padding: 30px 20px;
    border-radius: 30px;
    border: 1px solid $brand_primary;
    background-color: white;
    position: relative;
    z-index: 1;

    @include MQ-MAX(S) {
        border-radius: 0 0 20px 20px;
    }

    @include MQ(M) {
        padding: 50px 30px; 
    }
}

.paneTitleHolder {
    position: relative;

    @include MQ-MAX(M) {
        margin-bottom: 30px;
    }

    @include MQ(M) {
        padding-right: 40px;
    }
}

// Header with line Divider

.CTASectionHeader {
    position: relative;
    margin-bottom: 45px;
}

.sectionLine {
    display: block;
    width: 100%;
    height: 2px;
    background-color: $brand_accent;
    position: absolute;
    @include center(y);
}

.headerTextHolder {
    margin: auto;
    padding: 10px 15px;
    background-color: white;

    @include MQ(M) {
        padding-right: 20px;
        padding-left: 20px;
    }
}
.we_card{
    background: linear-gradient(206.28deg, #2B3093 60.05%, rgba(43, 48, 147, 0.8) 77.07%);
    border-radius: 8px;
}
.footer_we{
    background-color: $brand_primary;
    padding: 2rem;
    color: white;
    border-radius:0px 0px 5px 5px;
    font-size: 18px;
line-height: 24px;
background: transparent;

}

.carausel_small{
    position: absolute;
    left: 0px;
    top:30%;
    z-index: 5;
    display: none;
    @include MQ(M){
        display: block;
    }
    p{
        position: absolute;
        top: 80px;
        left: 140px;
        color: white;
        font-size: 30px;
        z-index: 10;
    }
    img{
        filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
        +img{
            margin-top: 3px;
        }

    }
    .small_img{
        height: 100px;
        width: 90px;
        cursor: pointer;
        &:hover{
            @include transform(scale(1.4));
            @include transition(all .10s ease-in-out);
            z-index: 6;


        }
    }
    .large_img{
        height: 100px;
        width: 155px;
    }
}